
<div>
    <h2><span data-translate="churchcatholicApp.iFrame.detail.title">I Frame</span> {{vm.iFrame.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="churchcatholicApp.iFrame.linkIframe">Link Iframe</span></dt>
        <dd>
            <span>{{vm.iFrame.linkIframe}}</span>
        </dd>
        <dt><span data-translate="churchcatholicApp.iFrame.cateIframe">Cate Iframe</span></dt>
        <dd>
            <span data-translate="{{'churchcatholicApp.CateIFrame.' + vm.iFrame.cateIframe}}">{{vm.iFrame.cateIframe}}</span>
        </dd>
        <dt><span data-translate="churchcatholicApp.iFrame.updateDate">Update Date</span></dt>
        <dd>
            <span>{{vm.iFrame.updateDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="churchcatholicApp.iFrame.updateBy">Update By</span></dt>
        <dd>
            <span>{{vm.iFrame.updateBy}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="i-frame-detail.edit({id:vm.iFrame.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
