<div>
    <h2 data-translate="churchcatholicApp.iFrame.home.title">I Frames</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="i-frame.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="churchcatholicApp.iFrame.home.createLabel">
                        Create new I Frame
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="churchcatholicApp.iFrame.linkIframe">Link Iframe</span></th>
                    <th><span data-translate="churchcatholicApp.iFrame.cateIframe">Cate Iframe</span></th>
                    <th><span data-translate="churchcatholicApp.iFrame.updateDate">Update Date</span></th>
                    <th><span data-translate="churchcatholicApp.iFrame.updateBy">Update By</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="iFrame in vm.iFrames track by iFrame.id">
                    <td><a ui-sref="i-frame-detail({id:iFrame.id})">{{iFrame.id}}</a></td>
                    <td>{{iFrame.linkIframe}}</td>
                    <td data-translate="{{'churchcatholicApp.CateIFrame.' + iFrame.cateIframe}}">{{iFrame.cateIframe}}</td>
                    <td>{{iFrame.updateDate | date:'medium'}}</td>
                    <td>{{iFrame.updateBy}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="i-frame-detail({id:iFrame.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="i-frame.edit({id:iFrame.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="i-frame.delete({id:iFrame.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
