<div>
    <div layout="row" style="padding-bottom: 10px">
    	<div flex>
    		<h3>Quản lý ngân hàng câu hỏi</h3>
    	</div>
    	<div layout-align="end center" flex layout="row">
            <div>
                <button class="btn btn-primary" ui-sref="create-new-question">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="churchcatholicApp.question.home.createLabel">
                        Create new Question
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div style=" padding-bottom: 10px">
        <table style="width: 100%;">
            <thepx>
                <tr>
                    <th>ID Câu hỏi</th>
                    <th>Câu hỏi</th>
                    <th>Level</th>
                    <th>Câu trả lời</th>
                    <th>Status</th>
                    <th>-----</th>
                </tr>
            </thead>
            <tbody ng-repeat="item in vm.listFullQuesAndAns" ng-if="item.sizeAnswer > 0">
                <tr>
                    <td rowspan="{{item.sizeAnswer + 4}}">
                        {{item.id}}
                    </td>
                </tr>
                <tr>
                    <td rowspan="{{item.sizeAnswer + 3}}">
                        {{item.questionTitle}}
                    </td>
                </tr>
                <tr>
                    <td rowspan="{{item.sizeAnswer + 2}}">{{item.level}}</td>
                </tr>
                <tr>
                    <td>
		                <tr ng-repeat="itemAns in item.answer">
		                    <td>{{itemAns.answerContent}}</td>
		                    <td ng-class="{'change-color' : itemAns.status}">{{itemAns.status}}</td>
		                    <td class="skip-border" style="width: 8%" rowspan="{{item.sizeAnswer}}" ng-if="$index==0">
		                        <button class="btn btn-primary btn-sm" ui-sref="update-question({id: item.id})">
		                            <span class="glyphicon glyphicon-pencil"></span>
		                        </button>
		                        <button class="btn btn-danger btn-sm" ui-sref="delete-question({id: item.id})">
		                            <span class="glyphicon glyphicon-remove-circle"></span>
		                        </button>
		                    </td>
		                </tr>
                	</td>
                </tr>
            </tbody>
            <tbody ng-repeat="item in vm.listFullQuesAndAns" ng-if="item.sizeAnswer == 0">
                <tr>
                    <td rowspan="5">
                        {{item.id}}
                    </td>
                </tr>
                <tr>
                    <td rowspan="4">
                        {{item.questionTitle}}
                    </td>
                </tr>
                <tr>
                    <td rowspan="3">{{item.level}}</td>
                </tr>
                <tr>
                    <td>
                <tr>
                    <td class="warning">chưa nhập</td>
                    <td class="warning">chưa nhập</td>
                    <td class="skip-border" style="width: 8%">
                        <button class="btn btn-primary btn-sm" ui-sref="update-question({id: item.id})">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button class="btn btn-danger btn-sm" ui-sref="delete-question({id: item.id})">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                    </td>
                </tr>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
    <a href="" ng-click="vm.prevPage()" ng-show="vm.page != 0"> << Quay lại trang trước</a>
    <a href="" style="float: right" ng-click="vm.nextPage()" ng-show="vm.flag">Sang trang tiếp theo >></a>
</div>
<style type="text/css">
td,
th {
    border: 1px solid grey;
    text-align: center;
}

.change-color {
    color: green;
}

.warning {
    color: red;
}

</style>
