<div layout="column">
    <div layout="column" class="item-post-lctx" ng-repeat="postLctx in vm.listPostLctx">
    	<a ng-href="{{postLctx.linkPost}}" layout="row" target="_blank">
    		<div class="news-lctx__banner" flex="25">
	        	<img ng-src="{{postLctx.linkImgBg}}">
	        </div>
	        <div class="news-lctx__infor">
	            <div class="infor__title">
	                <h5>{{postLctx.titlePost}}</h5>
	            </div>
	            <div class="infor__created-date">
	                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
	                <span>{{postLctx.timePost}}</span>
	            </div>
	            <div class="infor__catholic-priest">
	                <span>{{postLctx.descPost}}</span>
	            </div>
	        </div>
    	</a>
    </div>
</div>

