<div class="footer">
    <div class="container">
        <div id="infor-plus" layout="row" layout-padding hide-xs>
            <div class="infor-plus__bottom" flex>
                <h2 class="content_title"><span>VIDEO</span></h2>
                <button type="button" class="btn btn-default btn-sm infor-video-btn" has-any-authority="ROLE_ADMIN, ROLE_MANAGER" ng-click="vm.uploadIframe('INTRODUCE')">
                    <span class="glyphicon glyphicon-facetime-video"></span> Cập nhật video
                </button>   
                <div class="sidebar_content sidebar_4_content">
                    <div class="sidebar_2_content_show" ng-bind-html="vm.trustHtml(vm.listIframeIntroduce[vm.countIframeIntro-1].linkIframe)">
                    </div>
                </div>
            </div> <!-- end sidebar_4 -->
            <div class="infor-plus__bottom" flex>
                <h2 class="content_title"><span>VIDEO CỬ ĐIỆU</span></h2>
                <button type="button" class="btn btn-default btn-sm infor-video-btn" has-any-authority="ROLE_ADMIN, ROLE_MANAGER" ng-click="vm.uploadIframe('CUDIEU')">
                    <span class="glyphicon glyphicon-facetime-video"></span> Cập nhật video cử điệu
                </button>
                <div class="sidebar_content sidebar_2_content">
                    <div class="sidebar_2_content_show" ng-bind-html="vm.trustHtml(vm.listIframeCuDieu[vm.countIframeDance-1].linkIframe)">
                    </div>
                </div>
            </div> <!-- end sidebar_6 -->
            <div class="infor-plus__bottom" flex>
                <h2 class="content_title"><span>BẢN ĐỒ</span></h2>
                <div class="sidebar_content sidebar_5_content">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.8869726149946!2d106.22518661440677!3d20.997167394233095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31359eeadfa19859%3A0xed60cfc55fa0029c!2zTmjDoCB0aOG7nSBMYWkgVMOq!5e0!3m2!1svi!2s!4v1538151958325" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>

        </div> 
    </div>
    <hr>
    <div class="container">
        <a href="#" class="footer_logo"><img src="content/images/img-local/logo.png" alt=""></a>
        <ul>
            <li>© Bản quyền thuộc về Giáo Xứ Lai Tê
                <!-- - Giáo Phận Bắc Ninh -->
            </li>
            <li>Địa chỉ : Lai Tê, Trung Chính, Lương Tài, Bắc Ninh</li>
            <li>Điện thoại : 1234567890 </li>
            <li>Email : nhatholaite@gmail.com</li>
        </ul>
        <div class="footer_right">
            <div class="social">
                <a href="https://www.facebook.com/Gi%C3%A1o-X%E1%BB%A9-Lai-T%C3%AA-Gi%C3%A1o-Ph%E1%BA%ADn-B%E1%BA%AFc-Ninh-106451922811721/" class="facebook" target="_blank">
                                <img src="content/images/img-local/facebook.png" alt="">
                            </a>
                <a href="#" class="twitter"><img src="content/images/img-local/twitter.png" alt=""></a>
                <a href="#" class="youtube"><img src="content/images/img-local/youtube.png" alt=""></a>
                <a href="#" class="google"><img src="content/images/img-local/google-plus.png" alt=""></a>
                <a href="#" class="instagram"><img src="content/images/img-local/instagram.png" alt=""></a>
            </div>
            <div class="clearfix"></div>
            <p class="author">Thiết kế bởi Nhà Thờ Lai Tê</p>
        </div> <!-- end footer_right -->
    </div>
    
</div> <!-- end footer -->
