
<div>
    <h2><span data-translate="churchcatholicApp.newsCategory.detail.title">News Category</span> {{vm.newsCategory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="churchcatholicApp.newsCategory.categoryTitle">Category Title</span></dt>
        <dd>
            <span>{{vm.newsCategory.categoryTitle}}</span>
        </dd>
        <dt><span data-translate="churchcatholicApp.newsCategory.categoryDesc">Category Desc</span></dt>
        <dd>
            <span>{{vm.newsCategory.categoryDesc}}</span>
        </dd>
        <dt><span data-translate="churchcatholicApp.newsCategory.createdDate">Created Date</span></dt>
        <dd>
            <span>{{vm.newsCategory.createdDate | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="news-category-detail.edit({id:vm.newsCategory.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
