
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myNewsCategoryLabel" data-translate="churchcatholicApp.newsCategory.home.createOrEditLabel">Create or edit a News Category</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.newsCategory.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.newsCategory.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="churchcatholicApp.newsCategory.categoryTitle" for="field_categoryTitle">Category Title</label>
            <input type="text" class="form-control" name="categoryTitle" id="field_categoryTitle"
                    ng-model="vm.newsCategory.categoryTitle"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="churchcatholicApp.newsCategory.categoryDesc" for="field_categoryDesc">Category Desc</label>
            <input type="text" class="form-control" name="categoryDesc" id="field_categoryDesc"
                    ng-model="vm.newsCategory.categoryDesc"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="churchcatholicApp.newsCategory.cateType" for="field_typeCate">Level</label>
            <select class="form-control" name="typeCate" ng-model="vm.newsCategory.typeCate" id="field_typeCate">
                <option value="HOIDOAN" data-translate="churchcatholicApp.TypeCate.HOIDOAN">HOIDOAN</option>
                <option value="OTHERS" data-translate="churchcatholicApp.TypeCate.OTHERS">OTHERS</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="churchcatholicApp.newsCategory.createdDate" for="field_createdDate">Created Date</label>
                <div class="input-group">
                    <input id="field_createdDate" type="text" class="form-control" name="createdDate" datetime-picker="{{dateformat}}" ng-model="vm.newsCategory.createdDate" is-open="vm.datePickerOpenStatus.createdDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
