<div>
    <h2 data-translate="churchcatholicApp.newsCategory.home.title">News Categories</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="news-category.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="churchcatholicApp.newsCategory.home.createLabel">
                        Create new News Category
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="churchcatholicApp.newsCategory.categoryTitle">Category Title</span></th>
                    <th><span data-translate="churchcatholicApp.newsCategory.categoryDesc">Category Desc</span></th>
                    <th><span data-translate="churchcatholicApp.newsCategory.createdDate">Created Date</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="newsCategory in vm.newsCategories track by newsCategory.id">
                    <td><a ui-sref="news-category-detail({id:newsCategory.id})">{{newsCategory.id}}</a></td>
                    <td>{{newsCategory.categoryTitle}}</td>
                    <td>{{newsCategory.categoryDesc}}</td>
                    <td>{{newsCategory.createdDate | date:'medium'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="news-category-detail({id:newsCategory.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="news-category.edit({id:newsCategory.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="news-category.delete({id:newsCategory.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
