<div flex layout="column" id="news-dashboard">
    <div layout="row">
        <div flex="60" flex-xs="100">
            <div>
                <h3 class="hoidoan-title">{{vm.listNewsByHoiDoan[0].categoryTitle}} - Tin tức</h3>
            </div>
            <md-content class="news-dashboard__content">
                <div flex>
                    <div layout="row" class="news-item__dashboard" ng-repeat="itemNews in vm.listNewsByHoiDoan[0].newsListInCate | orderBy:'-id'">
                        <a ui-sref="news-display({id: itemNews.id, newsPath: itemNews.newsPath})" layout="row" layout-xs="column" style="width: 100%">
		                    <div flex="21" flex-xs class="news-item__img" layout="row">
		    					<img ng-src="{{itemNews.linkBanner}}" layout-padding>
		                    </div>
						    <div layout="column" flex>
						        <div class="news-item__infor">
						            <h5 class="news-item__title md-truncate">{{itemNews.newsTitle}}</h5>
						            <span class="news-item__desc md-truncate"><em>
						                                            {{itemNews.description}}
						                                        </em></span>
						            <span class="news-item__created-date">{{itemNews.createdDate | date:"dd/MM/yyyy -  h:mma"}}</span>
						        </div>
						    </div>							
		    			</a>
                    </div>
                </div>
            </md-content>
        </div>
        <div flex style="padding-left: 10px" id="sidebar-lctx" hide-xs>
        	<div>
                <h5 style="color: #fff; background-color: #44a500; border-radius: 5px" class="text-center lctx__title">Bài giảng lòng Chúa Thương Xót</h5>
            </div>
            <div ng-include="'app/home/news-lctx/news-lctx.html'" id="view-lctx">
            	
            </div>
        </div>
    </div>
</div>
