<form name="editForm" role="form" novalidate ng-submit="vm.save()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myQuestionLabel" data-translate="churchcatholicApp.question.home.createOrEditLabel">Create or edit a Question</h4>
    </div>
    <div class="modal-body" id="form-create-question">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.question.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" ng-model="vm.question.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="churchcatholicApp.question.questionTitle" for="field_questionTitle">Question Title</label>
            <input type="text" class="form-control" name="questionTitle" id="field_questionTitle" ng-model="vm.question.questionTitle" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="churchcatholicApp.question.source" for="field_source">Source</label>
            <input type="text" class="form-control" name="source" id="field_source" ng-model="vm.question.source" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="churchcatholicApp.question.level" for="field_level">Level</label>
            <select class="form-control" name="level" ng-model="vm.question.level" id="field_level">
                <option value="DIFFICULT" data-translate="churchcatholicApp.Level.DIFFICULT">DIFFICULT</option>
                <option value="HARD" data-translate="churchcatholicApp.Level.HARD">HARD</option>
                <option value="MEDIUM" data-translate="churchcatholicApp.Level.MEDIUM">MEDIUM</option>
                <option value="EASY" data-translate="churchcatholicApp.Level.EASY">EASY</option>
            </select>
        </div>
        <div ng-repeat="item in vm.countAnswer track by $index">
            <div class="form-group">
                <label class="control-label" data-translate="churchcatholicApp.answer.answerContent" for="field_answerContent" translate-values="{orderAns: $index+1}">Answer Content</label>
                <input type="text" class="form-control" name="answerContent" id="field_answerContent" ng-model="vm.answer[$index].answerContent" />
            </div>
            <div class="form-group">
                <label class="control-label" data-translate="churchcatholicApp.answer.status" for="field_status">Status</label>
                <input type="checkbox" name="status" id="field_status" ng-model="vm.answer[$index].status" />
            </div>
        </div>
    </div>
    <a ng-class="{'disable' : !vm.question.questionTitle}" style="display: block; padding-left: 10px" ng-click="vm.addFormCreateAns()"> >>Thêm câu trả lời</a>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
<style type="text/css">
.disable {
    cursor: not-allowed;
    pointer-events: none;
    color: grey;

}

</style>
