
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDataCrawlLabel" data-translate="churchcatholicApp.dataCrawl.home.createOrEditLabel">Create or edit a Data Crawl</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.dataCrawl.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.dataCrawl.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="churchcatholicApp.dataCrawl.linkImgBg" for="field_linkImgBg">Link Img Bg</label>
            <input type="text" class="form-control" name="linkImgBg" id="field_linkImgBg"
                    ng-model="vm.dataCrawl.linkImgBg"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="churchcatholicApp.dataCrawl.titlePost" for="field_titlePost">Title Post</label>
            <input type="text" class="form-control" name="titlePost" id="field_titlePost"
                    ng-model="vm.dataCrawl.titlePost"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="churchcatholicApp.dataCrawl.descPost" for="field_descPost">Desc Post</label>
            <input type="text" class="form-control" name="descPost" id="field_descPost"
                    ng-model="vm.dataCrawl.descPost"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="churchcatholicApp.dataCrawl.timePost" for="field_timePost">Time Post</label>
            <input type="text" class="form-control" name="timePost" id="field_timePost"
                    ng-model="vm.dataCrawl.timePost"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="churchcatholicApp.dataCrawl.linkPost" for="field_linkPost">Link Post</label>
            <input type="text" class="form-control" name="linkPost" id="field_linkPost"
                    ng-model="vm.dataCrawl.linkPost"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="churchcatholicApp.dataCrawl.contentPost" for="field_contentPost">Content Post</label>
            <input type="text" class="form-control" name="contentPost" id="field_contentPost"
                    ng-model="vm.dataCrawl.contentPost"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="churchcatholicApp.dataCrawl.source" for="field_source">Source</label>
            <input type="text" class="form-control" name="source" id="field_source"
                    ng-model="vm.dataCrawl.source"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
