<div>
    <h2 data-translate="churchcatholicApp.dataCrawl.home.title">Data Crawls</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="data-crawl.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="churchcatholicApp.dataCrawl.home.createLabel">
                        Create new Data Crawl
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="churchcatholicApp.dataCrawl.linkImgBg">Link Img Bg</span></th>
                    <th><span data-translate="churchcatholicApp.dataCrawl.titlePost">Title Post</span></th>
                    <th><span data-translate="churchcatholicApp.dataCrawl.descPost">Desc Post</span></th>
                    <th><span data-translate="churchcatholicApp.dataCrawl.timePost">Time Post</span></th>
                    <th><span data-translate="churchcatholicApp.dataCrawl.linkPost">Link Post</span></th>
                    <th><span data-translate="churchcatholicApp.dataCrawl.contentPost">Content Post</span></th>
                    <th><span data-translate="churchcatholicApp.dataCrawl.source">Source</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dataCrawl in vm.dataCrawls track by dataCrawl.id">
                    <td><a ui-sref="data-crawl-detail({id:dataCrawl.id})">{{dataCrawl.id}}</a></td>
                    <td>{{dataCrawl.linkImgBg}}</td>
                    <td>{{dataCrawl.titlePost}}</td>
                    <td>{{dataCrawl.descPost}}</td>
                    <td>{{dataCrawl.timePost}}</td>
                    <td>{{dataCrawl.linkPost}}</td>
                    <td>{{dataCrawl.contentPost}}</td>
                    <td>{{dataCrawl.source}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="data-crawl-detail({id:dataCrawl.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="data-crawl.edit({id:dataCrawl.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="data-crawl.delete({id:dataCrawl.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
