
<div>
    <h2><span data-translate="churchcatholicApp.dataCrawl.detail.title">Data Crawl</span> {{vm.dataCrawl.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="churchcatholicApp.dataCrawl.linkImgBg">Link Img Bg</span></dt>
        <dd>
            <span>{{vm.dataCrawl.linkImgBg}}</span>
        </dd>
        <dt><span data-translate="churchcatholicApp.dataCrawl.titlePost">Title Post</span></dt>
        <dd>
            <span>{{vm.dataCrawl.titlePost}}</span>
        </dd>
        <dt><span data-translate="churchcatholicApp.dataCrawl.descPost">Desc Post</span></dt>
        <dd>
            <span>{{vm.dataCrawl.descPost}}</span>
        </dd>
        <dt><span data-translate="churchcatholicApp.dataCrawl.timePost">Time Post</span></dt>
        <dd>
            <span>{{vm.dataCrawl.timePost}}</span>
        </dd>
        <dt><span data-translate="churchcatholicApp.dataCrawl.linkPost">Link Post</span></dt>
        <dd>
            <span>{{vm.dataCrawl.linkPost}}</span>
        </dd>
        <dt><span data-translate="churchcatholicApp.dataCrawl.contentPost">Content Post</span></dt>
        <dd>
            <span>{{vm.dataCrawl.contentPost}}</span>
        </dd>
        <dt><span data-translate="churchcatholicApp.dataCrawl.source">Source</span></dt>
        <dd>
            <span>{{vm.dataCrawl.source}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="data-crawl-detail.edit({id:vm.dataCrawl.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
