<div layout="row" layout-xs="column" layout-sm="column" id="news-display">
    <div class="news-display__read" flex="70" flex-xs="100" flex-sm="100" layout-padding>
        <div>
            <h3 class="news-display__title text-center">{{vm.newsDisplay.newsTitle}}</h3>
            <span class="news-display__desc">
                <em><strong>{{vm.newsDisplay.description}} </strong></em></span>
            <span class="news-display__created-date">- {{vm.newsDisplay.createdDate | date:"dd/MM/yyyy -  h:mma"}}</span>
        </div>
        <md-content>
            <div class="news-display__content" ng-bind-html="vm.trustHtml(vm.newsDisplay.content)" ui-view="news-display">
        </md-content>
    </div>
    </div>
    <div flex class="news-display__relate">
        <h3 class="category-title">Tin Liên Quan</h3>
        <div flex layout="column">
            <md-content class="news-relate__content">
                <div flex>
                    <div layout="row" class="news-item__relate" ng-repeat="itemNews in vm.listNewsRelate | orderBy:'-id'">
                        <a ui-sref="news-display({id: itemNews.id, newsPath: itemNews.newsPath})" layout="row" style="width: 100%">
                                <div flex="35" class="news-item__img" layout="row">
                                    <img ng-src="{{itemNews.linkBanner}}" layout-padding>
                                </div>
                                <div layout="column" flex>
                                    <div class="news-item__infor">
                                        <h5 class="news-item__title md-truncate">{{itemNews.newsTitle}}</h5>
                                        <span class="news-item__desc md-truncate"><em>
                                            {{itemNews.description}}
                                        </em></span>
                                        <span class="news-item__created-date">{{itemNews.createdDate | date:"dd/MM/yyyy -  h:mma"}}</span>
                                    </div>
                                </div>
                            </a>
                    </div>
                </div>
            </md-content>
        </div>
    </div>
</div>
