<div>
	<div id="dashboard-slider" layout="row">
		<div id="slide1" class="slide">
			slide 1
		</div>
		<div id="slide2" class="slide">
			slide 2
		</div>
		<div id="slide3" class="slide">
			slide 3
		</div>
		<div id="slide4" class="slide">
			slide 4
		</div>
		<div id="slide5" class="slide">
			slide 5
		</div>
	</div>
	<a href="" ng-click="vm.prev()">Prev</a>
	<a href="" ng-click="vm.next()" style="float: right">Next</a>
	<div id="view-content">
		
	</div>
</div>

<style>
	#dashboard-slider {
		position: relative;
	}
	
	#slide1 {
		position: absolute;
		left: 0;
		width: 33%;
	}

	#slide2 {
		position: absolute;
		left: 33%;
		width: 33%;
	}

	#slide3 {
		position: absolute;
		left: 66%;
		width: 33%;
	}

	#slide4 {
		position: absolute;
		left: -33%;
		width: 33%;
	}

	#slide5 {
		position: absolute;
		left: -66%;
		width: 33%;
	}

</style>