<div>
    <div id="header-cover">
        <div class="cover__inner">
            <img ng-src="{{vm.listIframeCover[vm.countIframeCover-1].linkIframe}}" alt="giao-xu-lai-te" id="cover-img">
            <div class="header-cover__absolute">
                <button type="button" class="btn btn-default btn-sm header-cover-btn" has-any-authority="ROLE_ADMIN, ROLE_MANAGER">
                    <span class="glyphicon glyphicon-camera"></span> Cập nhật ảnh bìa
                </button>
                <div class="header-cover__type-upload">
                    <ul>
                        <li><a href="" ng-click="vm.uploadIframe('COVER', 'local')">Tải ảnh lên</a></li>
                        <li><a href="" ng-click="vm.uploadIframe('COVER', 'link')">Link ảnh có sẵn</a></li>
                    </ul>
                </div> 
            </div>              
        </div>
        </div>
        <div fixed="fixIt">
            <nav class="navbar navbar-default" role="navigation" id="navbar-main">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">
                    <img class="logo-img" src="content/images/logo-jhipster.png" alt="logo"/>
                </a> -->
                    </div>
                    <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
                        <ul class="nav navbar-nav navbar-left">
                            <li ui-sref-active="active">
                                <a ui-sref="home" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-home"></span>
                            <span class="hidden-sm"></span>
                        </a>
                            </li>
                            <li ui-sref-active="active"><a><span class="hidden-sm">Giới thiệu</span></a></li>
                            <li class="dropdown-hoidoan" ng-class="{active: vm.$state.includes('hoidoan')}">
                                <a>
                            <span class="title-dropdown-lv1">
                                Hội đoàn
                            </span>
                            <b class="caret"></b>
                        </a>
                                <ul class="caret-top">
                                    <li ui-sref-active="active" ng-repeat="itemHoiDoan in vm.listNewsCateHoiDoan"><a ui-sref="hoidoan-overview({id: itemHoiDoan.id, nameHoiDoan: itemHoiDoan.categoryTitle})" ng-click="vm.collapseNavbar()">{{itemHoiDoan.categoryTitle}}</a></li>
                                    <li ng-class="{active: vm.$state.includes('giaoly')}">
                                        <a href="">
                                        <span>Giáo lý</span>
                                        <b class="caret-right"></b>
                                    </a>
                                        <ul class="dropdown-lv2">
                                            <li ui-sref-active="active"><a ui-sref="exam-test" ng-click="vm.collapseNavbar()">Thi giáo lý</a></li>
                                            <li ui-sref-active="active"><a href="" ng-click="vm.collapseNavbar()">Chương trình học</a></li>
                                            <li ui-sref-active="active"><a href="" ng-click="vm.collapseNavbar()">Lời Chúa mỗi ngày</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li ui-sref-active="active" ng-repeat="itemOther in vm.listNewsCateOthers"><a><span class="hidden-sm">{{itemOther.categoryTitle}}</span></a></li>
                            <li ui-sref-active="active"><a><span class="hidden-sm">Liên hệ</span></a></li>
                            <li ng-controller="JhiLanguageController as languageVm" ui-sref-active="active">
                                <a ng-if="languageVm.languages.length > 1">
                            <span>
                                <span class="hidden-sm" data-translate="global.menu.language">Language</span>
                                <b class="caret"></b>
                            </span>
                        </a>
                                <ul ng-if="languageVm.languages.length > 1" class="caret-top">
                                    <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                                        <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language | findLanguageFromKey}}</a>
                                    </li>
                                </ul>
                            </li>
                            <li ng-class="{active: vm.$state.includes('account')}">
                                <a id="account-menu">
                            <span>
                                <!-- <span class="glyphicon glyphicon-user"></span> -->
                                <span data-translate="global.menu.account.main" class="title-dropdown-lv1">
                                    Account
                                </span>
                                <b class="caret"></b>
                            </span>
                        </a>
                                <ul class="caret-top">
                                    <li ui-sref-active="active" ng-switch-when="true">
                                        <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                    <span data-translate="global.menu.account.settings">Settings</span>
                                </a>
                                    </li>
                                    <li ui-sref-active="active" ng-switch-when="true">
                                        <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                    <span data-translate="global.menu.account.password">Password</span>
                                </a>
                                    </li>
                                    <li ui-sref-active="active" ng-switch-when="true">
                                        <a href="" ng-click="vm.logout()" id="logout">
                                    <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                    <span data-translate="global.menu.account.logout">Sign out</span>
                                </a>
                                    </li>
                                    <li ui-sref-active="active" ng-switch-when="false">
                                        <a href="" ng-click="vm.login()" id="login">
                                    <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                    <span data-translate="global.menu.account.login">Sign in</span>
                                </a>
                                    </li>
                                    <!-- <li ui-sref-active="active" ng-switch-when="false">
                                <a ui-sref="register" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                    <span data-translate="global.menu.account.register">Register</span>
                                </a>
                            </li> -->
                                </ul>
                            </li>
                            <li ng-class="{active: vm.$state.includes('admin')}" has-any-authority="ROLE_ADMIN, ROLE_MANAGER">
                                <a id="admin-menu">
                            <span>
                                <span class="glyphicon glyphicon-tower"></span>
                                <span data-translate="global.menu.admin.main" class="title-dropdown-lv1">Administration</span>
                                <b class="caret"></b>
                            </span>
                        </a>
                                <ul class="caret-top">
                                    <li ui-sref-active="active" has-authority="ROLE_ADMIN">
                                        <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                            <span class="glyphicon glyphicon-user"></span>&nbsp;
                                            <span data-translate="global.menu.admin.userManagement">User management</span>
                                        </a>
                                    </li>
                                    <!-- <li ui-sref-active="active">
                                        <a ui-sref="question" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.question">Question</span>
                                </a>
                                    </li>
                                    <li ui-sref-active="active">
                                        <a ui-sref="answer" ng-click="vm.collapseNavbar()">
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span data-translate="global.menu.entities.answer">Answer</span>
                                    </a>
                                    </li> -->
                                    <li ui-sref-active="active">
                                        <a ui-sref="news-category" ng-click="vm.collapseNavbar()">
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span data-translate="global.menu.entities.newsCategory">News Category</span>
                                    </a>
                                    </li>
                                    <li ui-sref-active="active">
                                        <a ui-sref="news-management" ng-click="vm.collapseNavbar()">
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span>Quản lý tin tức</span>
                                    </a>
                                    <li ui-sref-active="active">
                                        <a ui-sref="exam-management" ng-click="vm.collapseNavbar()">
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span>Quản lý đề thi</span>
                                    </a>
                                    </li>
                                    <li ng-show="vm.swaggerEnabled" ui-sref-active="active" has-authority="ROLE_ADMIN">
                                        <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                            <span class="glyphicon glyphicon-book"></span>&nbsp;
                                            <span data-translate="global.menu.admin.apidocs">API</span>
                                        </a>
                                    </li>
                                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                                    <li ng-hide="vm.inProduction" has-authority="ROLE_ADMIN">
                                        <a href='/h2-console' target="_tab" ng-click="vm.collapseNavbar()">
                                            <span class="glyphicon glyphicon-hdd"></span>&nbsp;
                                            <span data-translate="global.menu.admin.database">Database</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
