<div>
    <div id="news-banner-top">
        <div layout="row" layout-wrap>
            <div flex="100" flex-gt-sm="50" class="itemPostCrawl">
                <div class="news-top__item">
                    <a ng-href="{{vm.listPostThaiHa2[0].linkPost}}" target="_blank">
                        <div class="news-top__inner">
                            <div class="banner-large__img">
                                <img  ng-src="{{vm.listPostThaiHa2[0].linkImgBg}}">
                            </div>
                            <div class="banner-large__infor">
                                <div class="banner-large__created-date">
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                    <span>{{vm.listPostThaiHa2[0].timePost}}</span>
                                </div>
                                <div class="banner-large__title">
                                    <h3>{{vm.listPostThaiHa2[0].titlePost}}</h3>
                                </div>
                                <div class="banner-large__desc">
                                    <h5 md-truncate>
                                        {{vm.listPostThaiHa2[0].descPost}}
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div flex="50" flex-gt-sm="50" class="itemPostCrawl">
                <div class="news-top__item">
                    <a ng-href="{{vm.listPostThaiHa2[1].linkPost}}" target="_blank">
                        <div class="news-top__inner">
                            <div class="banner-large__img">
                                <img  ng-src="{{vm.listPostThaiHa2[1].linkImgBg}}">
                            </div>
                            <div class="banner-large__infor">
                                <div class="banner-large__created-date">
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                    <span>{{vm.listPostThaiHa2[1].timePost}}</span>
                                </div>
                                <div class="banner-large__title">
                                    <h3>{{vm.listPostThaiHa2[1].titlePost}}</h3>
                                </div>
                                <div class="banner-large__desc">
                                    <h5 md-truncate>
                                        {{vm.listPostThaiHa2[1].descPost}}
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div flex="50" flex-gt-sm="33" ng-repeat="item in vm.listPostThaiHa3" class="itemPostCrawl">
                <div class="news-top__item">
                    <a ng-href="{{item.linkPost}}" target="_blank">
                        <div class="news-top__inner">
                            <div class="banner-large__img">
                                <img  ng-src="{{item.linkImgBg}}">
                            </div>
                            <div class="banner-large__infor">
                                <div class="banner-large__created-date">
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                    <span>{{item.timePost}}</span>
                                </div>
                                <div class="banner-large__title">
                                    <h3>{{item.titlePost}}</h3>
                                </div>
                                <div class="banner-large__desc">
                                    <h5 md-truncate>
                                        {{item.descPost}}
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="news-general">
        <div class="news-general__inner" layout="row">
            <div flex="70" class="news-general__lctx" flex-xs="100">
                <h3 class="text-center lctx__title" style="margin-top: 21px;">BÀI GIẢNG LÒNG CHÚA THƯƠNG XÓT</h3>
                <div ng-include="'app/home/news-lctx/news-lctx.html'" id="view-lctx">
                </div>
            </div>
            <div flex layout="column" id="sidebar-home-page" hide-xs>
                <div flex class="news-general__search">
                    <div flex layout="column">
                        <md-input-container class="md-block" flex-gt-xs style="margin-top: 35px">
                            <label>Tìm kiếm tin tức</label>
                            <input ng-model="searchText">
                        </md-input-container>
                        <md-content style="max-height: 550px;" class="news-general__content">
                            <div flex>
                                <div layout="row" class="news-item__search" ng-repeat="itemNews in vm.listNewsGeneral | filter: searchText | orderBy:'-id'">
                                    <a ui-sref="news-display({id: itemNews.id, newsPath: itemNews.newsPath})" layout="row" style="width: 100%">
                                    <div flex="35" class="news-item__img" layout="row">
                                        <img ng-src="{{itemNews.linkBanner}}" layout-padding>
                                    </div>
                                    <div layout="column" flex>
                                        <div class="news-item__infor">
                                            <h5 class="news-item__title md-truncate">{{itemNews.newsTitle}}</h5>
                                            <span class="news-item__desc md-truncate"><em>
                                                {{itemNews.description}}
                                            </em></span>
                                            <span class="news-item__created-date">{{itemNews.createdDate | date:"dd/MM/yyyy -  h:mma"}}</span>
                                        </div>
                                    </div>
                                </a>
                                </div>
                            </div>
                            <div>
                                <button ng-show="vm.flag" ng-click="vm.transition()" style="width: 100%; padding: 10px; border-radius: 3px; background-color: #eeeeee">
                                    <span style="color: #9e9e9e">HIỂN THỊ THÊM</span>
                                </button>
                            </div>
                        </md-content>
                    </div>
                </div>
                <!-- <div layout="column" class="sidebar-facebook">
                    <div class="sidebar_7" id="facebook">
                        <h2 class="content_title"><span>Facebook</span></h2>
                        <div class="sidebar_content sidebar_7_content">
                            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FGi%25C3%25A1o-X%25E1%25BB%25A9-Lai-T%25C3%25AA-Gi%25C3%25A1o-Ph%25E1%25BA%25ADn-B%25E1%25BA%25AFc-Ninh-106451922811721%2F&tabs=timeline&width=290&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="100%" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div> 
                </div> -->
            </div>
            
        </div>
    </div>
    
</div>
<style type="text/css">

md-input-container {
    margin: 0;
}

md-input-container .md-errors-spacer {
    min-height: 15px;
}

</style>
