.footer {
  background: #333;
  color: #fff;
  padding: 10px;
  overflow: hidden; }
  .footer a {
    float: left;
    margin-right: 20px; }
    .footer a img {
      width: 72px;
      height: 72px; }
    .footer a:hover {
      opacity: 0.5; }
  .footer ul {
    float: left;
    margin: 0; }
  .footer .footer_right {
    float: right; }
    .footer .footer_right .social {
      float: right; }
      .footer .footer_right .social a {
        margin: 0 0 0 5px; }
        .footer .footer_right .social a img {
          display: block;
          float: right;
          width: 32px;
          height: 32px; }
    .footer .footer_right p.author {
      padding-top: 15px;
      margin: 0;
      float: right;
      font-size: 14px; }
  .footer #infor-plus .infor-plus__bottom {
    position: relative; }
    .footer #infor-plus .infor-plus__bottom .infor-video-btn {
      position: absolute; }

.breadcrumb {
  margin: 12px 0;
  border-bottom: 1px solid #f2f2f2;
  width: 674px;
  padding: 0;
  padding-bottom: 10px;
  background: none; }
  .breadcrumb a {
    color: #444; }
    .breadcrumb a:hover {
      color: #000;
      text-decoration: underline; }
  .breadcrumb i {
    color: #444;
    font-size: 10px; }
  .breadcrumb span {
    color: #444; }

.content_nd {
  width: calc(100% - 350px);
  float: left; }

.ban_do {
  padding: 20px; }
  .ban_do h2 {
    padding-bottom: 15px;
    margin: 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #f2f2f2; }
  .ban_do iframe {
    width: 100%;
    height: 400px; }
  .ban_do .address {
    margin-top: 20px; }
    .ban_do .address ul li {
      line-height: 140%;
      font-size: 16px; }
    .ban_do .address h4 {
      font-weight: 600;
      text-transform: uppercase;
      margin: 3px 0; }
    .ban_do .address iframe {
      width: 100%;
      height: 28px; }

.content_main_category {
  padding: 0; }
  .content_main_category .content_main_category_li {
    overflow: hidden;
    padding: 20px;
    border-bottom: 1px solid #f2f2f2; }
  .content_main_category .content_main_category_li:last-child {
    border: none; }
  .content_main_category a {
    overflow: hidden;
    display: block; }
    .content_main_category a img {
      width: 310px;
      height: 200px;
      float: left;
      margin-right: 10px; }
    .content_main_category a .content_main_category_info {
      overflow: hidden;
      padding-bottom: 1px; }
    .content_main_category a .content_main_category_li_title {
      font-size: 20px;
      line-height: 140%;
      margin-top: 0px; }
    .content_main_category a p.since {
      color: #888;
      margin-left: 1px;
      margin-bottom: 9px; }
    .content_main_category a .excerpt {
      line-height: 160%;
      -webkit-line-clamp: 3;
      display: -webkit-box;
      height: auto;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .content_main_category a:hover h2 {
      color: #78b43d; }
  .content_main_category span.more-link {
    background-color: #78b43d;
    color: #fff;
    padding: 5px 12px;
    line-height: 22px;
    border-radius: 22px;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s; }
    .content_main_category span.more-link:hover {
      background-color: #777 !important; }

.phan_trang {
  text-align: center; }
  .phan_trang a {
    background: #f2f2f2;
    padding: 10px 60px;
    text-transform: uppercase;
    color: #444;
    font-weight: bold;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s; }
    .phan_trang a:hover {
      background: #333;
      color: #78b43d; }

.since {
  color: #888; }

.content_chi_tiet_bai_viet {
  padding: 20px; }
  .content_chi_tiet_bai_viet .content_title {
    border: none;
    line-height: 140%; }
  .content_chi_tiet_bai_viet .since {
    margin-bottom: 15px; }
  .content_chi_tiet_bai_viet .content_1_cont {
    margin-top: 24px; }
    .content_chi_tiet_bai_viet .content_1_cont img {
      width: 100%;
      margin-bottom: 24px; }
    .content_chi_tiet_bai_viet .content_1_cont p {
      font-size: 16px;
      line-height: 160%;
      margin-bottom: 26px; }
  .content_chi_tiet_bai_viet .chu_de_lien_quan {
    margin-top: 30px; }
    .content_chi_tiet_bai_viet .chu_de_lien_quan h2 {
      margin: 0;
      font-size: 27px;
      padding-bottom: 12px;
      font-weight: bold;
      color: #78b43d; }
    .content_chi_tiet_bai_viet .chu_de_lien_quan ul {
      margin: 0; }
      .content_chi_tiet_bai_viet .chu_de_lien_quan ul li {
        line-height: 160%;
        list-style-type: disc;
        margin-left: 20px; }
        .content_chi_tiet_bai_viet .chu_de_lien_quan ul li a {
          font-size: 14px; }
          .content_chi_tiet_bai_viet .chu_de_lien_quan ul li a:hover {
            color: #78b43d;
            text-decoration: underline; }

.binh_luan {
  margin-top: 20px; }
