h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0; }

.scrollTop #scrollTop__icon {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px; }

#news-general .news-general__lctx #view-lctx .item-post-lctx, #news-dashboard #sidebar-lctx #view-lctx .item-post-lctx, #news-general .sidebar-facebook {
  box-shadow: 0px 0px 1px -1px #2d2d2d; }

#news-general .news-general__lctx .lctx__title, #news-dashboard #sidebar-lctx .lctx__title {
  padding: 10px;
  background-color: #44a500;
  color: #fff;
  border-radius: 10px; }

#news-general .news-general__lctx #view-lctx .item-post-lctx, #news-dashboard #sidebar-lctx #view-lctx .item-post-lctx {
  background-color: #c7eafd;
  padding: 10px;
  border-radius: 5px; }
  #news-general .news-general__lctx #view-lctx .item-post-lctx .news-lctx__banner, #news-dashboard #sidebar-lctx #view-lctx .item-post-lctx .news-lctx__banner {
    padding-left: 10px; }
  #news-general .news-general__lctx #view-lctx .item-post-lctx .news-lctx__infor, #news-dashboard #sidebar-lctx #view-lctx .item-post-lctx .news-lctx__infor {
    margin-left: 15px; }

* {
  margin: 0;
  padding: 0; }

#header-cover .cover__inner {
  position: relative; }
  #header-cover .cover__inner #cover-img {
    display: block;
    width: 100%;
    max-height: 190px;
    object-fit: cover; }
  #header-cover .cover__inner .header-cover__absolute {
    position: absolute;
    z-index: 100;
    top: 0; }
    #header-cover .cover__inner .header-cover__absolute .header-cover__type-upload {
      display: none;
      position: relative;
      background-color: white;
      padding: 5px;
      margin: 5px;
      border-radius: 5px; }
      #header-cover .cover__inner .header-cover__absolute .header-cover__type-upload::before {
        content: "";
        position: absolute;
        z-index: 10;
        top: -5px;
        left: 25%;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #fff; }
    #header-cover .cover__inner .header-cover__absolute:hover .header-cover__type-upload {
      display: block; }

#navbar-main {
  background-color: #2d2d2d !important;
  border-bottom: 6px solid #44a500 !important;
  min-height: 50px; }
  #navbar-main ul > li {
    position: relative;
    border-right: 1px solid #252020; }
    #navbar-main ul > li > a {
      font-size: 18px;
      color: #fff; }
      #navbar-main ul > li > a:hover {
        font-size: 18px;
        color: #44a500; }
    #navbar-main ul > li:hover ul.caret-top {
      display: inline-block; }
      #navbar-main ul > li:hover ul.caret-top::before {
        content: "";
        position: absolute;
        z-index: 10;
        top: -8px;
        left: 25%;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #44a500; }
    #navbar-main ul > li > ul {
      position: absolute;
      left: -10px;
      z-index: 10;
      display: none;
      border-top: 3px solid #44a500; }
      #navbar-main ul > li > ul > li {
        min-width: 150px;
        display: block;
        text-align: center;
        background-color: #2d2d2d;
        border-bottom: 1px solid #181414; }
        #navbar-main ul > li > ul > li:hover > ul {
          display: inline-block; }
        #navbar-main ul > li > ul > li a {
          text-decoration: none;
          padding: 10px; }
        #navbar-main ul > li > ul > li .caret-right {
          border-bottom: 4px solid transparent;
          border-top: 4px solid transparent;
          border-left: 4px solid;
          display: inline-block;
          height: 0;
          opacity: 0.5;
          vertical-align: middle;
          width: 0;
          color: #fff;
          float: right; }
        #navbar-main ul > li > ul > li .dropdown-lv2 {
          position: absolute;
          left: 100%;
          z-index: 15;
          display: none;
          top: -8%; }
          #navbar-main ul > li > ul > li .dropdown-lv2 li {
            min-width: 180px; }
            #navbar-main ul > li > ul > li .dropdown-lv2 li a {
              text-decoration: none; }
        #navbar-main ul > li > ul > li > a {
          display: block;
          font-size: 16px;
          color: #fff; }
          #navbar-main ul > li > ul > li > a:hover {
            font-size: 16px;
            color: #44a500; }
    #navbar-main ul > li:nth-last-child(1) {
      border-right: none; }
      #navbar-main ul > li:nth-last-child(1) > ul > li > a {
        min-width: 205px; }

.navbar-default .navbar-nav > li > a .title-dropdown-lv1 {
  position: relative; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #2d2d2d;
  color: #fff !important; }
  .navbar-default .navbar-nav > .active > a::before,
  .navbar-default .navbar-nav > .active > a:hover::before,
  .navbar-default .navbar-nav > .active > a:focus::before {
    content: "";
    position: absolute;
    top: -30px;
    right: -12px;
    bottom: -6px;
    left: -12px;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    background-color: #44a500;
    box-shadow: inset 0 0 rgba(255, 255, 255, 0.5);
    transform: perspective(5px) rotateX(1deg);
    transform-origin: bottom; }

.navbar-default .navbar-nav > .active ul > .active > a,
.navbar-default .navbar-nav > .active ul > .active > a:hover,
.navbar-default .navbar-nav > .active ul > .active > a:focus {
  color: #fff !important;
  background-color: #44a500; }
  .navbar-default .navbar-nav > .active ul > .active > a::before,
  .navbar-default .navbar-nav > .active ul > .active > a:hover::before,
  .navbar-default .navbar-nav > .active ul > .active > a:focus::before {
    display: none; }

#news-banner-top .itemPostCrawl .news-top__item {
  margin: 1px;
  position: relative; }
  #news-banner-top .itemPostCrawl .news-top__item a {
    font-size: 18px;
    color: #fff; }
  #news-banner-top .itemPostCrawl .news-top__item .news-top__inner .banner-large__img > img {
    display: block;
    height: 250px;
    width: 100%;
    object-fit: cover; }
  #news-banner-top .itemPostCrawl .news-top__item .news-top__inner .banner-large__infor {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px; }
    #news-banner-top .itemPostCrawl .news-top__item .news-top__inner .banner-large__infor .banner-large__desc {
      font-size: 10px;
      overflow: hidden;
      height: 0; }
    #news-banner-top .itemPostCrawl .news-top__item .news-top__inner .banner-large__infor .banner-large__created-date {
      font-size: 15px; }
    #news-banner-top .itemPostCrawl .news-top__item .news-top__inner .banner-large__infor .banner-large__title h3 {
      font-size: 19px;
      margin-top: 5px; }
    #news-banner-top .itemPostCrawl .news-top__item .news-top__inner .banner-large__infor:hover {
      background-color: #333333;
      opacity: 0.8; }
      #news-banner-top .itemPostCrawl .news-top__item .news-top__inner .banner-large__infor:hover .banner-large__desc {
        transition: all .3s ease-in-out;
        height: auto; }

#news-general .news-general__lctx {
  margin-right: 10px; }

#news-general .news-general__search .news-general__content {
  box-shadow: 0px 0px 1px -1px #2d2d2d; }
  #news-general .news-general__search .news-general__content .news-item__img img {
    display: block;
    width: 120px;
    height: 80px;
    margin: 0 0; }
  #news-general .news-general__search .news-general__content .news-item__infor {
    margin-left: 5px; }
    #news-general .news-general__search .news-general__content .news-item__infor .news-item__title {
      color: #000; }
    #news-general .news-general__search .news-general__content .news-item__infor .news-item__desc {
      font-size: 14px;
      color: #9e9e9e;
      display: block; }
    #news-general .news-general__search .news-general__content .news-item__infor .news-item__created-date {
      font-size: 12px;
      color: #9e9e9e; }

#news-general .sidebar-facebook {
  padding: 0px 21px;
  margin-top: 10px; }

#news-display .news-display__read .news-display__title {
  color: #44a500; }

#news-display .news-display__relate .category-title {
  background-color: #398c00;
  color: #fff;
  padding: 5px;
  text-align: center; }

#news-display .news-display__relate .news-relate__content {
  max-height: 660px;
  border-bottom: 3px solid #44a500; }
  #news-display .news-display__relate .news-relate__content .news-item__relate {
    box-shadow: 0px 0px 1px -1px #2d2d2d; }
    #news-display .news-display__relate .news-relate__content .news-item__relate .news-item__img img {
      display: block;
      width: 120px;
      height: 80px;
      margin: 0 0; }
    #news-display .news-display__relate .news-relate__content .news-item__relate .news-item__infor {
      margin-left: 5px; }
      #news-display .news-display__relate .news-relate__content .news-item__relate .news-item__infor .news-item__title {
        color: #000; }
      #news-display .news-display__relate .news-relate__content .news-item__relate .news-item__infor .news-item__desc {
        font-size: 14px;
        color: #9e9e9e;
        display: block; }
      #news-display .news-display__relate .news-relate__content .news-item__relate .news-item__infor .news-item__created-date {
        font-size: 12px;
        color: #9e9e9e; }

#news-dashboard .news-item__dashboard {
  box-shadow: 0px 0px 1px -1px #2d2d2d; }
  #news-dashboard .news-item__dashboard .news-item__img img {
    display: block;
    width: 180px;
    height: 105px;
    margin: 0 0; }
  #news-dashboard .news-item__dashboard .news-item__infor {
    margin-left: 5px; }
    #news-dashboard .news-item__dashboard .news-item__infor .news-item__title {
      color: #000; }
    #news-dashboard .news-item__dashboard .news-item__infor .news-item__desc {
      font-size: 14px;
      color: #9e9e9e;
      display: block; }
    #news-dashboard .news-item__dashboard .news-item__infor .news-item__created-date {
      font-size: 12px;
      color: #9e9e9e; }

#news-dashboard .hoidoan-title {
  text-align: center;
  color: #398c00; }

/*SCROLL-TOP*/
.scrollTop {
  position: fixed;
  right: 1%;
  bottom: 21px;
  background-color: #44a500;
  border-radius: 15%;
  padding: 15px;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s; }
  .scrollTop:hover {
    cursor: pointer;
    opacity: 0.8; }
  .scrollTop #scrollTop__icon {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg); }

@media (max-width: 767px) {
  #navbar-main ul > li {
    position: relative;
    border-right: none;
    border-bottom: 1px solid #181414; }
    #navbar-main ul > li > ul {
      position: inherit; }
    #navbar-main ul > li:nth-last-child(1) {
      border-bottom: none; }
  #navbar-main ul > .active > a,
  #navbar-main ul > .active > a:hover,
  #navbar-main ul > .active > a:focus {
    color: #fff;
    background-color: #44a500; }
    #navbar-main ul > .active > a::before,
    #navbar-main ul > .active > a:hover::before,
    #navbar-main ul > .active > a:focus::before {
      display: none; }
  #news-banner-top .news-top__item .news-top__inner .banner-large__img > img {
    height: 150px; }
  #news-banner-top .news-top__item .news-top__inner .banner-large__infor {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px; }
    #news-banner-top .news-top__item .news-top__inner .banner-large__infor .banner-large__desc {
      height: auto !important; }
    #news-banner-top .news-top__item .news-top__inner .banner-large__infor .banner-large__created-date {
      font-size: 15px; }
    #news-banner-top .news-top__item .news-top__inner .banner-large__infor .banner-large__title h3 {
      font-size: 19px;
      margin-top: 5px; }
  #news-general .news-general__lctx #view-lctx .news-lctx__infor {
    margin-left: 25px !important; }
  .news-display__read {
    padding: 0; }
  .container {
    padding-left: 5px;
    padding-right: 5px; }
  .well {
    padding: 5px; }
  #news-dashboard .news-item__dashboard {
    box-shadow: 0px 0px 1px -1px #2d2d2d; }
    #news-dashboard .news-item__dashboard .news-item__img img {
      display: block;
      width: 70%;
      height: 100px;
      margin: 0 15%; }
    #news-dashboard .news-item__dashboard .news-item__infor {
      margin-left: 5px; }
      #news-dashboard .news-item__dashboard .news-item__infor .news-item__title {
        color: #000; }
      #news-dashboard .news-item__dashboard .news-item__infor .news-item__desc {
        font-size: 14px;
        color: #9e9e9e;
        display: block; }
      #news-dashboard .news-item__dashboard .news-item__infor .news-item__created-date {
        font-size: 12px;
        color: #9e9e9e; }
    #news-dashboard .news-item__dashboard .news-item__infor {
      text-align: center; } }
