.ql-viewer {
    padding: 12px 15px;
    border: 1px solid #c1c1c1;
}

.ql-font-serif {
    font-family: Georgia, Times New Roman, serif;
}

.ql-font-monospace {
    font-family: Monaco, Courier New, monospace;
}

.ql-size-small {
    font-size: 0.75em;
}

.ql-size-large {
    font-size: 1.5em;
}

.ql-size-huge {
    font-size: 2.5em;
}

.ql-direction-rtl {
    direction: rtl;
    text-align: inherit;
}

.ql-align-center {
    text-align: center;
}

.ql-align-justify {
    text-align: justify;
}

.ql-align-right {
    text-align: right;
}

blockquote {
    border-left: 4px solid #ccc;
    padding-left: 16px;
}

code,
pre {
    background-color: #f0f0f0;
    border-radius: 3px;
    padding: 6px 10px;
}

ol>li,
ul>li {
    list-style-type: none;
}

ol li {
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
    counter-increment: list-num;
}

ol li:before {
    content: counter(list-num, decimal) '. ';
}


/* indent 1 */

ol ol li {
    counter-increment: list-1;
}

ol ol li:before {
    content: counter(list-1, lower-alpha) '. ' !important;
}

ol ol li {
    counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}


/* indent 2 */

ol ol ol li {
    counter-increment: list-2;
}

ol ol ol li:before {
    content: counter(list-2, lower-roman) '. ' !important;
}

ol ol ol li {
    counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}


/* indent 3 */

ol ol ol ol li {
    counter-increment: list-3;
}

ol ol ol ol li:before {
    content: counter(list-3, decimal) '. ' !important;
}

ol ol ol ol li {
    counter-reset: list-4 list-5 list-6 list-7 list-8 list-9;
}


/* indent 4 */

ol ol ol ol ol li {
    counter-increment: list-4;
}

ol ol ol ol ol li:before {
    content: counter(list-4, lower-alpha) '. ' !important;
}

ol ol ol ol ol li {
    counter-reset: list-5 list-6 list-7 list-8 list-9;
}


/* indent 5 */

ol ol ol ol ol ol li {
    counter-increment: list-5;
}

ol ol ol ol ol ol li:before {
    content: counter(list-5, lower-roman) '. ' !important;
}

ol ol ol ol ol ol li {
    counter-reset: list-6 list-7 list-8 list-9;
}


/* indent 6 */

ol ol ol ol ol ol ol li {
    counter-increment: list-6;
}

ol ol ol ol ol ol ol li:before {
    content: counter(list-6, decimal) '. ' !important;
}

ol ol ol ol ol ol ol li {
    counter-reset: list-7 list-8 list-9;
}


/* indent 7 */

ol ol ol ol ol ol ol ol li {
    counter-increment: list-7;
}

ol ol ol ol ol ol ol ol li:before {
    content: counter(list-7, lower-alpha) '. ' !important;
}

ol ol ol ol ol ol ol ol li {
    counter-reset: list-8 list-9;
}


/* indent 8 */

ol ol ol ol ol ol ol ol ol li {
    counter-increment: list-8;
}

ol ol ol ol ol ol ol ol ol li:before {
    content: counter(list-8, lower-roman) '. ' !important;
}

ol ol ol ol ol ol ol ol ol li {
    counter-reset: list-9;
}


/* indent 9 */

ol ol ol ol ol ol ol ol ol ol li {
    counter-increment: list-9;
}

ol ol ol ol ol ol ol ol ol ol li:before {
    content: counter(list-9, decimal) '. ' !important;
}


/* ql indent */

.ql-indent-1:not(.ql-direction-rtl) {
    padding-left: 3em;
}

.ql-indent-1.ql-direction-rtl.ql-align-right {
    padding-right: 3em;
}

.ql-indent-2:not(.ql-direction-rtl) {
    padding-left: 6em;
}

.ql-indent-2.ql-direction-rtl.ql-align-right {
    padding-right: 6em;
}

.ql-indent-3:not(.ql-direction-rtl) {
    padding-left: 9em;
}

.ql-indent-3.ql-direction-rtl.ql-align-right {
    padding-right: 9em;
}

.ql-indent-4:not(.ql-direction-rtl) {
    padding-left: 12em;
}

.ql-indent-4.ql-direction-rtl.ql-align-right {
    padding-right: 12em;
}

.ql-indent-5:not(.ql-direction-rtl) {
    padding-left: 15em;
}

.ql-indent-5.ql-direction-rtl.ql-align-right {
    padding-right: 15em;
}

.ql-indent-6:not(.ql-direction-rtl) {
    padding-left: 18em;
}

.ql-indent-6.ql-direction-rtl.ql-align-right {
    padding-right: 18em;
}

.ql-indent-7:not(.ql-direction-rtl) {
    padding-left: 21em;
}

.ql-indent-7.ql-direction-rtl.ql-align-right {
    padding-right: 21em;
}

.ql-indent-8:not(.ql-direction-rtl) {
    padding-left: 24em;
}

.ql-indent-8.ql-direction-rtl.ql-align-right {
    padding-right: 24em;
}

.ql-indent-9:not(.ql-direction-rtl) {
    padding-left: 27em;
}

.ql-indent-9.ql-direction-rtl.ql-align-right {
    padding-right: 27em;
}


/* video */

.ql-video {
    display: block;
    max-width: 100%;
}

.ql-video.ql-align-center {
    margin: 0 auto;
}

.ql-video.ql-align-right {
    margin: 0 0 0 auto;
}
