// footer
.footer{
	background: #333;
	color: #fff;
	padding: 10px;
	overflow:hidden;
	a{
		float:left;
		margin-right: 20px;
		img{
			width: 72px;
			height: 72px;
		}
		&:hover{
			opacity: 0.5;
		}
	}
	ul{
		float:left;
		margin: 0;
	}
	.footer_right{
		float: right;
		.social{
			float: right;
			a{
				margin: 0 0 0 5px;
				img{
					display: block;
					float: right;
					width: 32px;
					height: 32px;
				}
			}

		}
		p.author {
			padding-top: 15px;
			margin: 0;
			float: right;
			font-size: 14px;
		}	
	}
	#infor-plus {
		.infor-plus__bottom {
			position: relative;
			.infor-video-btn {
				position: absolute;
			}
		}
	}
}

// đường dẫn
.breadcrumb {
	margin: 12px 0;
	border-bottom: 1px solid #f2f2f2;
	width: 674px;
	padding: 0;
	padding-bottom: 10px;
	background:none;
	a{
		color: #444;
		&:hover{
			color: #000;
			text-decoration: underline;
		}
	}
	i{
		color: #444;
		font-size:10px;
	}
	span{
		color: #444;
	}
}

.content_nd{
	width: calc(100% - 350px);
	float:left;
}
// lien he
.ban_do{
	padding: 20px;
	h2{
		padding-bottom:15px;
		margin: 0;
		margin-bottom:10px;
		border-bottom:1px solid #f2f2f2;
	}
	iframe{
		width: 100%;
		height: 400px;
	}
	.address{
		margin-top:20px;
		ul{
			li{
				line-height:140%;
				font-size:16px;
			}
		}
		h4{
			font-weight: 600;
			text-transform: uppercase;
			margin: 3px 0;
		}
		iframe{
			width: 100%;
			height: 28px;
		}
	}
}

// category
.content_main_category{
	padding:0;
	.content_main_category_li{
		overflow: hidden;
		padding: 20px;
		border-bottom:1px solid #f2f2f2;
	}
	.content_main_category_li:last-child{
		border:none;
	}

	a{
		overflow: hidden;
		display: block;
		img{
			width: 310px;
			height: 200px;
			float:left;
			margin-right:10px;
		}
		.content_main_category_info {
			overflow: hidden;
			padding-bottom: 1px;
		}
		.content_main_category_li_title{
			font-size:20px;
			line-height:140%;
			margin-top:0px;
		}
		p.since{
			color: #888;
			margin-left:1px;
			margin-bottom:9px;
		}
		.excerpt{
			line-height:160%;
			-webkit-line-clamp: 3;
			display: -webkit-box;
			height: auto;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		&:hover{
			h2{
				color: #78b43d;
			}
		}
	}
	
	span.more-link{
		background-color: #78b43d;
		color: #fff;
		padding: 5px 12px;
		line-height: 22px;
		border-radius: 22px;
		transition: all .3s;
		-moz-transition: all .3s;
		-webkit-transition: all .3s;
		-o-transition: all .3s;
		&:hover{
			background-color: #777 !important;
		}
	}

}

//phan trang
.phan_trang{
	text-align: center;
	a{
		background: #f2f2f2;
		padding: 10px 60px;
		text-transform: uppercase;
		color: #444;
		font-weight: bold;
		transition: all .3s;
		-moz-transition: all .3s;
		-webkit-transition: all .3s;
		-o-transition: all .3s;
		&:hover{
			background:#333;
			color:#78b43d;
		}
	}
}

.since{
	color: #888;
}

// content_chi_tiet_bai_viet
.content_chi_tiet_bai_viet{
	padding: 20px;
	.content_title{
		border: none;
		line-height: 140%;
	}
	.since{
		margin-bottom:15px;
	}
	.content_1_cont{
		margin-top: 24px;
		img{
			width: 100%;
			margin-bottom:24px;
		}
		p{
			font-size: 16px;
			line-height: 160%;
			margin-bottom: 26px;
		}
	}
	.chu_de_lien_quan{
		margin-top: 30px;
		h2 {
			margin: 0;
			font-size: 27px;
			padding-bottom: 12px;
			font-weight: bold;
			color: #78b43d;
		}
		ul{
			margin: 0;
			li{
				line-height: 160%;
				list-style-type: disc;
				margin-left: 20px;
				a{
					font-size: 14px;

					&:hover{
						color: #78b43d;
						text-decoration: underline;
					}
				}
			}
		}
	}
}
.binh_luan{
	margin-top:20px;
}