$color-main : #44a500;
$color-border: #332c2c;
$color-nav: #2d2d2d;
$color-list-hover: #2d2d2d;
$font-text-main: #fff;
$color-text: #fff;
$bgHighlight : #44a500;
$color-desc: #9e9e9e;
$color-title: #000;

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0;
}

@mixin fontOfText($fontSize, $fontColor) {
    font-size: $fontSize;
    color: $fontColor;
}

%arrow {
    border: solid $color-text;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

%shadow-box {
    box-shadow: 0px 0px 1px -1px #2d2d2d;
}

%lctx-post {
    .lctx__title {
        padding: 10px;
        background-color: $bgHighlight;
        color: $color-text;
        border-radius: 10px;
    }

    #view-lctx {
        .item-post-lctx {
            @extend %shadow-box;
            background-color: #c7eafd;
            padding: 10px;
            border-radius: 5px;

            .news-lctx__banner {
                padding-left: 10px;
            }

            .news-lctx__infor {
                margin-left: 15px;
            }
        }
    }

}

@mixin image-news-review($widthImg, $heightImg, $marginImg) {
    display: block;
    width: $widthImg;
    height: $heightImg;
    margin: 0 $marginImg;
}

@mixin news-info-review($widthImg, $heightImg, $marginImg) {
    box-shadow: 0px 0px 1px -1px #2d2d2d;

    .news-item__img img {
        @include image-news-review($widthImg, $heightImg, $marginImg);
    }

    .news-item__infor {
        margin-left: 5px;

        .news-item__title {
            color: $color-title;
        }

        .news-item__desc {
            @include fontOfText(14px, $color-desc);
            display: block;
        }

        .news-item__created-date {
            @include fontOfText(12px, $color-desc);
        }
    }
}

@mixin caret-top($colorCaret, $sizeTop) {
    content: "";
    position: absolute;
    z-index: 10;
    top: $sizeTop;
    left: 25%;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $colorCaret;

}


* {
    margin: 0;
    padding: 0;
}

#header-cover {
    .cover__inner {
        position: relative;

        #cover-img {
            display: block;
            width: 100%;
            max-height: 190px;
            object-fit: cover;
        }

        .header-cover__absolute {
            position: absolute;
            z-index: 100;
            top: 0;

            .header-cover__type-upload {
                display: none;
                position: relative;
                background-color: lighten($color-text, 10%);
                padding: 5px;
                margin: 5px;
                border-radius: 5px;

                &::before {
                    @include caret-top($color-text, -5px);
                }

            }

            &:hover {
                .header-cover__type-upload {
                    display: block;
                }
            }
        }
    }
}

#navbar-main {
    background-color: $color-nav !important;
    border-bottom: 6px solid $color-main !important;
    min-height: 50px;

    ul {

        >li {
            position: relative;
            border-right: 1px solid darken($color-border, 5%);

            >a {
                @include fontOfText(18px, $font-text-main);

                &:hover {
                    @include fontOfText(18px, $color-main);
                }

            }

            &:hover {
                ul.caret-top {
                    display: inline-block;

                    &::before {
                        @include caret-top($color-main, -8px);
                    }

                }
            }

            >ul {
                position: absolute;
                left: -10px;
                z-index: 10;
                display: none;
                border-top: 3px solid $color-main;

                >li {
                    // position: relative;
                    min-width: 150px;
                    display: block;
                    text-align: center;
                    background-color: $color-list-hover;
                    border-bottom: 1px solid darken($color-border, 10%);

                    &:hover {
                        >ul {
                            display: inline-block;
                        }
                    }

                    a {
                        text-decoration: none;
                        padding: 10px;
                    }

                    .caret-right {
                        border-bottom: 4px solid transparent;
                        border-top: 4px solid transparent;
                        border-left: 4px solid;
                        display: inline-block;
                        height: 0;
                        opacity: 0.5;
                        vertical-align: middle;
                        width: 0;
                        color: #fff;
                        float: right;
                    }

                    .dropdown-lv2 {
                        position: absolute;
                        left: 100%;
                        z-index: 15;
                        display: none;
                        top: -8%;

                        li {
                            a {
                                text-decoration: none;
                            }

                            min-width: 180px;
                        }
                    }

                    >a {
                        display: block;
                        @include fontOfText(16px, $font-text-main);

                        &:hover {
                            @include fontOfText(16px, $color-main);
                        }
                    }
                }
            }

            &:nth-last-child(1) {
                border-right: none;

                >ul>li>a {
                    min-width: 205px;
                }

            }
        }

    }
}

.navbar-default {
    .navbar-nav {
        >li {
            >a {
                .title-dropdown-lv1 {
                    position: relative;
                }

            }
        }

        >.active {

            >a,
            >a:hover,
            >a:focus {
                background-color: $color-nav;
                color: #fff !important;

                &::before {
                    content: "";
                    position: absolute;
                    top: -30px;
                    right: -12px;
                    bottom: -6px;
                    left: -12px;
                    border-bottom: none;
                    border-radius: 8px 8px 0 0;
                    background-color: $color-main;
                    box-shadow: inset 0 0 hsla(0, 0%, 100%, .5);
                    transform: perspective(5px) rotateX(1deg);
                    transform-origin: bottom;
                }
            }

            ul>.active {

                >a,
                >a:hover,
                >a:focus,
                    {
                    color: $color-text !important;
                    ;
                    background-color: $bgHighlight;

                    &::before {
                        display: none;
                    }
                }
            }
        }

    }
}

// End style navbar

// Home Page
#news-banner-top {
    .itemPostCrawl {
        .news-top__item {
            a {
                @include fontOfText(18px, $color-text);
            }

            margin: 1px;
            position: relative;

            .news-top__inner {
                .banner-large__img>img {
                    display: block;
                    height: 250px;
                    width: 100%;
                    object-fit: cover;
                }

                .banner-large__infor {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    padding: 10px;

                    .banner-large__desc {
                        font-size: 10px;
                        overflow: hidden;
                        height: 0;
                    }

                    .banner-large__created-date {
                        font-size: 15px;
                    }

                    .banner-large__title {
                        h3 {
                            font-size: 19px;
                            margin-top: 5px;
                        }                        
                    }

                    &:hover {
                        background-color: #333333;
                        opacity: 0.8;
                        .banner-large__desc {
                            transition: all .3s ease-in-out;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}

#news-general {
    .news-general__lctx {
        margin-right: 10px;
        @extend %lctx-post;        
    }
    .news-general__search {

        .news-general__content {

            // border-bottom: 3px solid $color-main;
            @include news-info-review(120px, 80px, 0);
        }
    }

    .sidebar-facebook {
        @extend %shadow-box;
        padding: 0px 21px;
        margin-top: 10px;
    }
}

#news-display {
    .news-display__read {
        .news-display__title {
            color: $color-main;
        }
    }

    .news-display__relate {
        .category-title {
            background-color: darken($color-main, 5%);
            color: $color-text;
            padding: 5px;
            text-align: center;
        }

        .news-relate__content {
            max-height: 660px;
            border-bottom: 3px solid $color-main;

            .news-item__relate {
                @include news-info-review(120px, 80px, 0);
            }
        }
    }
}

#news-dashboard {
    .news-item__dashboard {
        @include news-info-review(180px, 105px, 0);
    }

    .hoidoan-title {
        text-align: center;
        color: darken($color-main, 5%);
    }
    #sidebar-lctx {
        @extend %lctx-post;    
    }
}


/*SCROLL-TOP*/

.scrollTop {
    position: fixed;
    right: 1%;
    bottom: 21px;
    background-color: $color-main;
    border-radius: 15%;
    padding: 15px;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    #scrollTop__icon {
        @extend %arrow;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
}

@media (max-width: 767px) {
    #navbar-main {
        ul {

            >li {
                position: relative;
                border-right: none;
                border-bottom: 1px solid darken($color-border, 10%);

                >ul {
                    position: inherit;
                }

                &:nth-last-child(1) {
                    border-bottom: none;
                }
            }


            >.active {

                >a,
                >a:hover,
                >a:focus,
                    {
                    color: $color-text;
                    background-color: $bgHighlight;

                    &::before {
                        display: none;
                    }
                }
            }
        }
    }

    #news-banner-top {
        .news-top__item {
            .news-top__inner {
                .banner-large__img>img {
                    height: 150px;
                }

                .banner-large__infor {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    padding: 10px;

                    .banner-large__desc {
                        height: auto !important;
                    }

                    .banner-large__created-date {
                        font-size: 15px;
                    }

                    .banner-large__title {
                        h3 {
                            font-size: 19px;
                            margin-top: 5px;
                        }
                    }

                }
            }
        }
    }

    #news-general {
        .news-general__lctx {
            #view-lctx {
                .news-lctx__infor {
                    margin-left: 25px !important;
                }
            }
        }
    }

    .news-display__read {
        padding: 0;
    }

    .container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .well {
        padding: 5px;
    }

    #news-dashboard {
        .news-item__dashboard {
            @include news-info-review(70%, 100px, 15%);
            .news-item__infor {
                text-align: center;
            }
        }
    }
}
