<div>
    <div layout="row" flex layout-xs="column">
        <div flex="30" flex-xs="100" style="border-right: 1px solid #edede6" layout-sx="row">
            <div>
                <div flex>
                    <md-button ng-repeat="quesItem in vm.listOrderQuestion" class="md-raised md-primary" flex="50" ng-click="vm.scrollToQuestion('cau' + quesItem)" ng-class="{changeColorQues: vm.statusAnswered[quesItem-1]}">Câu {{quesItem}}</md-button>
                </div>
                <hr/>
                <div>
                    <h3>Chú thích</h3>
                    <md-button class="md-raised md-primary">
                        <md-tooltip>Chưa làm</md-tooltip>
                    </md-button>
                    <md-button class="md-raised md-primary" style="opacity: 0.5">
                        <md-tooltip>Đã làm</md-tooltip>
                    </md-button>
                </div>
            </div>
        </div>
        <div flex layout="row" style="max-height: 950px">
            <md-content flex layout-padding layout-wrap>
                <div ng-repeat="question in vm.listQuestionsDisplay" id="cau{{question.order}}">
                    <div>
                        <h3 class="question-order">
                    Câu {{question.order}}
                </h3>
                    </div>
                    <div>
                        <h5 class="question-title">
                        {{question.questionTitle}}
                    </h5>
                    </div>
                    <div>
                        <md-radio-group ng-model="vm.statusAnswered[question.order-1]">
                            <md-radio-button ng-repeat="answerItem in question.answer" ng-value="answerItem.id" class="md-primary">{{answerItem.answerContent}}</md-radio-button>
                        </md-radio-group>
                        <!-- {{vm.statusAnswered}} -->
                    </div>
                </div>
            </md-content>
        </div>
    </div>
    <md-button class="md-raised md-primary" ng-click="vm.popDialogResultTest()">Nộp bài</md-button>
</div>

<style type="text/css">
    .changeColorQues {
        opacity: 0.5;
    }
</style>
