<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myIFrameLabel" data-translate="churchcatholicApp.iFrame.home.createOrEditLabel">Create a I Frame</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div>
            <label>Upload file</label>
            <input type="file" accept="image/*,.pdf" id="uploadFileInput" onchange="angular.element(this).scope().createLinkUpload()">
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="churchcatholicApp.iFrame.home.link" for="field_linkIframe">Link Iframe</label>
            <input type="text" class="form-control" name="linkIframe" id="field_linkIframe"
                    ng-model="vm.iFrame.linkIframe"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="churchcatholicApp.iFrame.cateIframe" for="field_cateIframe">Cate Iframe</label>
            <select class="form-control" name="cateIframe" ng-model="vm.iFrame.cateIframe" id="field_cateIframe" ng-disabled="vm.iFrame.cateIframe">
                <option value="COVER" data-translate="churchcatholicApp.CateIFrame.COVER">COVER</option>
                <option value="CUDIEU" data-translate="churchcatholicApp.CateIFrame.CUDIEU">CUDIEU</option>
                <option value="INTRODUCE" data-translate="churchcatholicApp.CateIFrame.INTRODUCE">INTRODUCE</option>
                <option value="FACEBOOK" data-translate="churchcatholicApp.CateIFrame.FACEBOOK">FACEBOOK</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
