<div>
    <div layout="row">
        <div flex><h3>Quản lý tin tức</h3>
        </div>
        <div flex layout-align="end end" layout="row">
            <button ng-click="vm.popDialogCreateNews()" class="btn btn-primary">
                Tạo mới tin tức
            </button>
        </div>
    </div>
    <md-tabs md-dynamic-height>
        <md-tab ng-repeat="categoryNews in vm.newscategories" label="{{categoryNews.categoryTitle}}" md-on-select="vm.selectedTab(categoryNews.id)">
            <div flex layout="column">
                <md-content style="margin-top: 15px;">
                    <table class="table table-bordered" md-table>
                        <thead class="general-blue" md-head md-order="myOrder">
                            <tr style="height:50px;">
                                <th style="text-align: center; font-size: 18px; color: #fff" md-column md-order-by="newsTitle">
                                    <span>Post Name</span>
                                </th>
                                <th style="text-align: center; font-size: 18px; color: #fff" class="text-center" md-column md-order-by="createdBy">
                                    <span>Created By</span>
                                </th>
                                <th style="text-align: center; font-size: 18px; color: #fff" class="text-center" md-column md-order-by="description">
                                    <span>Description</span>
                                </th>
                                <th style="text-align: center; font-size: 18px; color: #fff" class="text-center" md-column md-order-by="createdDate">
                                    <span>Created Date</span>
                                </th>
                                <th style="width:10%; text-align: center; font-size: 18px; color: #fff" class="text-center">
                                    <span></span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="postItem in vm.listNewsByCate | filter: searchText | orderBy: myOrder ">
                                <td style="text-align:center;">{{postItem.newsTitle}}</td>
                                <td style="text-align:center;">
                                    <span>{{postItem.createdBy}}</span>
                                </td>
                                <td style="text-align:center;">
                                    <span>{{postItem.description}}</span>
                                </td>
                                <td style="text-align:center;">{{postItem.createdDate | date:'dd/MM/yyyy - h:mma'}} </td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button ng-click="vm.popDialogUpdateNews(postItem.id)" type="button" class="btn btn-xs">
                                            <span style="cursor:pointer" class="glyphicon glyphicon-pencil w3-text-green w3-hoverable"></span>
                                        </button>
                                        <button ng-click="vm.popDialogDeleteNews(postItem.id)" type="button" class="btn btn-xs">
                                            <span style="cursor:pointer" class="glyphicon glyphicon-trash w3-text-red w3-hoverable"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-content>
            </div>
        </md-tab>
    </md-tabs>
</div>
<style>
.md-sort-icon {
    color: #fff !important;
}

.w3-text-red {
    color: #f44336!important;
}
.w3-text-green {
    color: #4CAF50!important;
}
.w3-hoverable:hover {
    opacity: 0.5;
}

</style>
