<div layout-padding>
    <h3 class="text-center">Tạo mới hoặc chỉnh sửa bài viết</h3>
    <div>
        <label class="control-label">Tên bài viết</label>
        <input type="text" class="form-control" name="newsTitle" id="field_newsTitle" ng-model="vm.contentPost.newsTitle" required />
        <div>
            <p class="help-block">
                This field is required.
            </p>
        </div>
    </div>
    <div>
        <label>Mô tả bài viết</label>
        <input type="text" class="form-control" name="description" id="field_description" ng-model="vm.contentPost.description" />
        <div>
            <p class="help-block">
                This field is required.
            </p>
        </div>
    </div>
    <div>
        <label>Upload file</label>
        <input type="file" accept="image/*,.pdf" id="uploadFileInput" onchange="angular.element(this).scope().createLinkUpload()">
    </div>
    <div>
        <label>Link Banner</label>
        <input type="text" class="form-control" name="linkBanner" id="field_linkBanner" ng-model="vm.contentPost.linkBanner" ng-disabled="!vm.isUpload"/>
        <div>
            <p class="help-block">
                This field is required.
            </p>
        </div>
    </div>
    <div>
        <label data-translate="churchcatholicApp.news.newsCategory" for="field_newsCategory">News Category</label>
        <select class="form-control" id="field_newsCategory" name="newsCategory" ng-model="vm.contentPost.newsCategoryId" ng-options="newsCategory.id as newsCategory.categoryTitle for newsCategory in vm.newscategories">
            <option value=""></option>
        </select>
        <div>
            <p class="help-block">
                This field is required.
            </p>
        </div>
    </div>
    <!-- Create the editor container -->
    <div layout="row">
        <label>Nội dung bài viết</label>
        <div flex layout="row" layout-align="end center">
            <md-switch ng-model="vm.typeUploadImg" ng-change="vm.changeTypeUploadImg()" aria-label="Switch" style="margin: 0 0 5px">
                {{vm.nameTypeUploagImg}}
            </md-switch>
        </div>
    </div>
    <div id="editor" style="height: 350px;">
    </div>
    <div style="padding: 15px">
        <button ng-click='vm.save()' class="btn btn-primary" ng-disabled="(!vm.contentPost.newsTitle || !vm.contentPost.description) || vm.isSaving">
            <span class="glyphicon glyphicon-upload"></span>&nbsp;<span>Post</span>
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
    </div>
</div>
